@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

.good-properties {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
}

.good-attribute {
  display: flex;
  flex-wrap: wrap;
  justify-items: start;
  align-items: center;
  grid-gap: 16px;
}

.good-attribute__item {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  margin-top: 16px;
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
}

.good-attribute__item_selected {
  border: 1px solid gray;
  color: white;
  background: black;
  transform: scale(1.15);
}

.good-toCart {
  display: grid;
  align-items: center;
  width: 100%;
}

.good-toCart__button_inActive {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 12px 0px;
  background: gray;
  opacity: 0.5;
  color: white;
  border: none;
  font-size: 16px;
}

.good-toCart__button {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 12px 0px;
  background: #5ece7b;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 1s ease;
}

.good-toCart__button:active  {
  transform: translateY(50px);
}


.good__name {
  font-weight: 600;
  padding-top: 16px;
  font-size: 30px;
  color: #1d1f22;
}

.good__name_normal {
  font-weight: 400;
  font-size: 24px;
  padding-top: 16px;
  color: #1d1f22;
}
