
.header-cartwindow-good {
    display: grid;
    grid-template-columns: 150px 50px 100px;
    padding: 0 20px;
    border-bottom: 1px solid grey;
  }

  .header-cartwindow-good > :last-child {
    align-self: center;
  }

  .good__name {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #1D1F22;
  }

  .good__attribute_name {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #1D1F22;
  }


.good__attribute_value {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    padding: 5px;
    font-size: 16px;
    max-width: 100px;
    max-height: 30px;
    border: 1px solid gray;
  }

  .good__attribute_selected {
    border: 1px solid gray;
    color: white;
    background: black;
    transform: scale(1.15);
  }

  
  .good__img {
    object-fit: contain;
    width: 110px;
  }