.header-cartWindow-good {
  display: grid;
  grid-template-columns: 150px 50px 100px;
  padding: 0 20px;
  border-bottom: 1px solid grey;
}

.header-cartWindow-good > :last-child {
  align-self: center;
}

.good__name_small {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 600;
  padding: 10px 0px;
  font-size: 16px;
  color: #1d1f22;
}

.good__attribute_name {
  font-weight: bold;
  font-size: 16px;
  padding: 10px 0px;
  color: #1d1f22;
}

.good__attribute_value {
  font-family: "Source Sans Pro", sans-serif;
  display: inline-block;
  padding: 5px;
  font-size: 16px;
}

.good__attribute_selected {
  color: white;
  background: black;
}

.good__img {
  object-fit: contain;
  width: 110px;
}
