.cart__name {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
}

.cart-good {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
  justify-items: center;
  align-items: center;
  padding: 40px;
}


.cart-images {
  position: relative;
}

.cart__arrow {
  width: 16px;
  height: 16px;
  border-top: 2px solid grey;
  border-right: 2px solid grey;
  cursor: pointer;
}

.cart__arrow_right {
  position: absolute;
  right: 0;
  top: 46%;
  transform: rotate(45deg);
  cursor: pointer;
}

.cart__arrow_left {
  position: absolute;
  left: 0px;
  top: 46%;
  transform: rotate(-135deg);
}
