@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Source+Sans+Pro&display=swap");

header {
  padding: 20px 120px;
}

a {
  text-decoration: none;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr 200px;
}

.header ul {
  display: grid;
  grid-auto-flow: column;
}

.header-centerContent {
  display: grid;
  place-items: center;
}

.header-rightContent {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-flow: column;
  justify-items: end;
  align-items: center;
}

.header-cartIcon {
  position: relative;
}

.header-cartIcon__number {
  position: absolute;
  color: white;
  display: flex;
  top: -14px;
  left: 14px;
  z-index: 20;
  padding: 3px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  align-items: center;
  font-size: 14px;
  background: #1d1f22;
  justify-content: center;
}

.currency {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.arrow {
  width: 6px;
  margin: 0 10px;
  height: 6px;
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
}

.down {
  transform: rotate(-45deg);
}

.up {
  transform: rotate(135deg);
}

.header-rightContent-currency {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__darkTheme {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  top: 80px;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.header-cartWindow__totalCost {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.header-cartWindow__totalCost > :first-child {
  justify-self: start;
}

.header-cartWindow__totalCost > :last-child {
  justify-self: end;
}

.header-cartWindow-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0px 20px 20px 20px;
}

.header-cartWindow-buttons__viewBag {
  width: 140px;
  height: 32px;
  background-color: white;
  text-decoration: none;
  cursor: pointer;
}

.header-cartWindow-buttons__checkout {
  background: #5ece7b;
  width: 140px;
  height: 32px;
  color: white;
  cursor: pointer;
  border: none;
}

.header-cartWindow-title {
  padding-left: 20px;
}

.header-cartWindow-title strong {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #1d1f22;
}

.header-cartWindow {
  position: absolute;
  display: flex;
  max-height: 0px;
  flex-direction: column;
  overflow-y: scroll;
  right: 80px;
  background: white;
  top: 80px;
  z-index: 999;
  transition: ease max-height 0.3s;
}

.header-cartWindow_active {
  max-height: 850px;
}

.currency__list {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -36px;
  z-index: 9999;
  top: 20px;
  height: 0px;
  overflow: hidden;
  transition: ease height 0.3s;
}

.currency__list_active {
  height: 100px;
  transition: ease height 0.3s;
}

.currency__list div {
  width: 115px;
  box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
  display: flex;
  justify-content: center;
}

.currency__list div:hover {
  background-color: darkgray;
}

@media screen and (max-width: 768px) {
  header {
    padding: 20px 10px;
  }

  .header {
    grid-template-columns: 300px 1fr auto;
  }
}
