* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  margin: 0;
  font-family: 'Raleway', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x: hidden;
  font-family: Raleway, sans-serif;
  font-size: 16px;
}

