.header-leftcontent__link {
    color: #1D1F22;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 0 20px;
    font-size: 16px;
    list-style-type: none;
  }

  .active-text {
    color: #5ECE7B;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    border-bottom: 2px solid #5ECE7B;
  }